name: Build & Deploy

on:
  push:
    branches:
      - main

jobs:
  version:
    name: Generator version number
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      build-number: ${{ steps.build-number.outputs.build_number }}
      version: "1.0.${{ steps.build-number.outputs.build_number }}"
      sha_short: ${{ steps.sha.outputs.sha_short }}
      informational_version: "1.0.${{ steps.build-number.outputs.build_number }}+${{ steps.sha.outputs.sha_short }}"
    steps:
      - name: Generate build number
        id: build-number
        uses: onyxmueller/build-tag-number@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          sparse-checkout: .
      - name: Generate variables
        id: sha
        run: |
          sha_short=$(git rev-parse --short HEAD)
          echo "sha_short=$sha_short"
          echo "sha_short=$sha_short" >> "$GITHUB_OUTPUT"

      - name: Output summary
        run: |
          echo '### Version' >> $GITHUB_STEP_SUMMARY
          echo '| Name | ID | Value |' >> $GITHUB_STEP_SUMMARY
          echo '| --- | --- | --- |' >> $GITHUB_STEP_SUMMARY
          echo '| Version | `version` | `1.0.${{ steps.build-number.outputs.build_number }}` |' >> $GITHUB_STEP_SUMMARY
          echo '| Build Number | `build_number` | `${{ steps.build-number.outputs.build_number }}` |' >> $GITHUB_STEP_SUMMARY
          echo '| Short SHA | `sha_short` | `${{ steps.sha.outputs.sha_short }}` |' >> $GITHUB_STEP_SUMMARY
          echo '| Informational Version | `informational_version` | `1.0.${{ steps.build-number.outputs.build_number }}+${{ steps.sha.outputs.sha_short }}` |' >> $GITHUB_STEP_SUMMARY

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: version
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Check formatting
        run: |
          dotnet tool restore
          dotnet csharpier check .

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

  publish-dotnet-images:
    name: Publish .NET Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - build
      - version
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Restore dependencies
        run: dotnet restore

      - name: Login to the Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish docker image
        working-directory: EchoService
        run: |
          dotnet publish \
            --os linux \
            --arch x64 \
            -t:PublishContainer \
            -p:VersionPrefix="${{ needs.version.outputs.version }}" \
            -p:InformationalVersion="${{ needs.version.outputs.informational_version }}" \
            -p:PackageVersion="${{ needs.version.outputs.informational_version }}" \
            -p:PackageProjectUrl="https://github.com/abutler/echo" \
            -p:ContainerRepository="abutler/echo-service" \
            -p:ContainerImageTag="${{ needs.version.outputs.version }}" \
            -p:ContainerRegistry="ghcr.io"